.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.movie-list {
  display: grid; /* Use CSS Grid for the movie list */
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Adjust based on your layout needs */
  gap: 20px; /* Space between movie items */
  padding: 0;
}

.movie-poster {
  max-width: 100%; /* Ensure the poster image does not exceed the container width */
  height: auto; /* Maintain the aspect ratio */
  margin-bottom: 10px; /* Add some space below the poster */
}

.movie-item {
  display: flex; /* Use Flexbox for the movie item */
  flex-direction: column; /* Stack the title and details vertically */
  justify-content: flex-start; /* Align items to the start */
  align-items: flex-start; /* Align items to the start */
  margin-bottom: 20px; /* Space between movie items */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-title {
  flex: 1; /* Allow the title to grow and shrink */
  margin-right: 20px; /* Space between title and details */
  white-space: nowrap; /* Prevent the title from wrapping */
  overflow: hidden; /* Hide any overflow content */
  text-overflow: ellipsis; /* Use an ellipsis to indicate overflow */
}

.movie-details {
  display: grid; /* Use CSS Grid for the details */
  grid-template-columns: repeat(4, 1fr); /* Define 4 columns of equal width */
  gap: 10px; /* Space between grid items */
  align-items: center; /* Vertically align items */
}

.movie-details > div {
  /* No need for flex properties here */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
